<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/section.css">

    <title>Library Management System</title>
  </head>
  <body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
          <a class="navbar-brand">Library Management System</a>
          
              <span>
                <a class="navbar-brand" href="/requests">Home</a>
                <a class="navbar-brand" href="/section">Section</a>
                <a class="navbar-brand" href="/">Logout</a>
              </span>
        </div>
    </nav>
    <br>
    <div class="container">
      <h3>Sections</h3>
      <div class="row">
          {% for section in sections %}
          <div class="card text-center mb-3" style="width: 18rem;">
              <div class="card-body">
                  <h5 class="card-title">{{ section.sec_title }}</h5>
                  <p class="card-date">{{ section.date }}</p>
                  <p class="card-text">{{ section.description }}</p>
                  <span>
                      <a href="/add_book?section_title={{ section.sec_title }}" class="btn btn-success">Add Books</a>
                      <a href="/sec_books?section_title={{ section.sec_title }}" class="btn btn-outline-info">View Books</a>
                      <form action="/delete_section/{{ section.id }}" method="post">
                        <button type="submit" class="btn btn-danger mt-2">Delete</button>
                    </form>
                  </span>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
  

    <div class="center">
    <a href="/add_section" class="btn btn-success">Add</a>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>

